.home {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.home .top {
    /* padding:5px; */
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 999;
}

.home .bottom {
    display: flex;
    height: calc(100vh-50px);
    position: relative;
}

.profile-left{
    flex: 3;
    position: sticky;
    top:20px
}

.follow-user{
    width:100px;
    color:white;
    background-color:#1755ee;
    border: none;
    height: 40px;
    border-radius: 10px;
}

.unfollow-user {
    width: 100px;
    color: white;
    background-color: rgb(180, 13, 13);
    border: none;
    height: 40px;
    border-radius: 10px;
}

.profile-right{
    flex:9;
    display: flex;
    flex-direction: column;
    gap:30px
}

.profile-right-top{
    max-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    padding: 20px;
    align-items: center;
}

.userPics{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
}

.cover{
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: top;
    
    box-shadow: 1px 2px 14px -7px black;
}

.profile{
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    object-position: top;
    left:0;
    right: 0;
    margin: auto;
    top:330px;
    border: 1px solid black;
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
}

.userTitle{
font-size: 30px;
font-weight: bold;
}

.userDesc{
    font-size: 15px;
    font-weight: lighter;
}

.profile-right-bottom{
    display: flex;
}